[defaults]
inventory = /showroom/repo/runtime-automation/inventory
host_key_checking = False
forks = 5
become_method = sudo

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ServerAliveInterval=30 -o ConnectTimeout=30
pipelining = False
